#slider{
  padding: 5%;
}

[type=radio] {
  display: none;
}

#slider {
  height: 35vw;
  position: relative;
  perspective: 1000px;
  transform-style: preserve-3d;
}

#slider label {
  margin: auto;
  width: 60%;
  height: 100%;
  border-radius: 4px;
  position: absolute;
  left: 0; right: 0;
  cursor: pointer;
  transition: transform 0.4s ease;
}

#s1:checked ~ #slide4, #s2:checked ~ #slide5,
#s3:checked ~ #slide1, #s4:checked ~ #slide2,
#s5:checked ~ #slide3 {
  box-shadow: 0 1px 4px 0 rgba(0,0,0,.37);
  transform: translate3d(-30%,0,-200px);
}

#s1:checked ~ #slide5, #s2:checked ~ #slide1,
#s3:checked ~ #slide2, #s4:checked ~ #slide3,
#s5:checked ~ #slide4 {
  box-shadow: 0 6px 10px 0 rgba(0,0,0,.3), 0 2px 2px 0 rgba(0,0,0,.2);
  transform: translate3d(-15%,0,-100px);
}

#s1:checked ~ #slide1, #s2:checked ~ #slide2,
#s3:checked ~ #slide3, #s4:checked ~ #slide4,
#s5:checked ~ #slide5 {
  box-shadow: 0 13px 25px 0 rgba(0,0,0,.3), 0 11px 7px 0 rgba(0,0,0,.19);
  transform: translate3d(0,0,0);
}

#s1:checked ~ #slide2, #s2:checked ~ #slide3,
#s3:checked ~ #slide4, #s4:checked ~ #slide5,
#s5:checked ~ #slide1 {
  box-shadow: 0 6px 10px 0 rgba(0,0,0,.3), 0 2px 2px 0 rgba(0,0,0,.2);
  transform: translate3d(15%,0,-100px);
}

#s1:checked ~ #slide3, #s2:checked ~ #slide4,
#s3:checked ~ #slide5, #s4:checked ~ #slide1,
#s5:checked ~ #slide2 {
  box-shadow: 0 1px 4px 0 rgba(0,0,0,.37);
  transform: translate3d(30%,0,-200px);
}

#slide1 { background: url("https://www.guatemala.com/fotos/201703/Como-salvar-el-lago-atitlan-885x500.jpg")}
#slide2 { background: url("https://www.guatemala.com/fotos/201712/Ascenso-al-Volcan-Acatenango-885x500.jpg")}
#slide3 { background: url("https://www.anywhere.com/img-a/attraction/tikal-archaeological-site-guatemala/Tikal-2.jpg/-/w=800&h=480&fit=min&dp=1&q=10")}
#slide4 { background: url("https://www.guatemala.com/fotos/201712/Semuc-Champey-885x500.jpg")}
#slide5 { background: url("https://www.guatemala.com/fotos/201712/portada-final-playas-885x500.jpg")}

.serv{
  text-align: center;
  font-family: sans-serif;
  font-size: 25px;
}

.card-text{
  text-align: center;
  font-size: 20px;
  font-family: sans;
}

/* Estilo del contenedor de Gabriel */

.hm-gradient {
    background-image: linear-gradient(to top, black%, #e3eeff 99%, #e3eeff 100%);
}
.darken-grey-text {
    color:black;
}

/* Estilo del contenedor de Samuel Garcia 2 */

h1,h2,h3{
                text-align: center;
            }
            div#contenedor{
                margin: auto;
                width: 800px;
                height: 800px;
            }
            div.cuadrante{
                width: 48%;
                height: 48%;
                margin: 1px;
                float: left;
                position:relative;
            }
            #c1{
                 box-shadow: -20px 0px 20px 0px #eee inset;
                bottom: 0px;
                color: red;
                right: 0px;
            }
            #c2{
                left: 0px;
                color: black;
                bottom: 0px;
            }
            #c3{
                box-shadow: -20px 0px 20px 0px #eee inset;
                top: 0px;
                color: darkgoldenrod;
                left:0px;

            }
            #c4{
                top: 0px;
                color:darkblue;
                right:0px;
            }
            div.contenido{
                color: #00A5C6;
                background-color: whitesmoke;
                height: 102%;
                width: 102%;
                text-align: center;
                display: flex;
                flex-wrap: nowrap;
                position:absolute;
                overflow: hidden;
            }
            div.contenido > i{
                margin:auto;
            }
            @media only screen and (max-width: 960px) {
           
                div#contenedor{
                    width: 650px;
                    height: 650px;
                }
            }
            @media only screen and (max-width: 768px) {
           
                div#contenedor{
                    width: 500px;
                    height: 500px;
                }
            }
            @media only screen and (max-width: 600px) {
          
                div#contenedor{
                    width: 400px;
                    height: 400px;
                }
            }

/* Estilo del contenedor de kenneth */

 /* Remove the navbar's default margin-bottom and rounded borders */
   .navbar {
     margin-bottom: 0;
     border-radius: 0;
   }

   /* Add a gray background color and some padding to the footer */
   footer {
     background-color: #f2f2f2;
     padding: 25px;
   }

  